This ipynb file is the another initialized script, in which we firstly used stations' arrival time as the input features for ANN predictions. This script has been enhanced with ANN_example3.ipynb and ANN_example4.ipynb. So, it's also obsoleted. However, we still can refer some useful contents from this script, such as the chart on comparison between Actual arrival time and Predicted arrival time.
Develop Date: 2018.06.27

In [ ]:
import csv
import pandas as pd
sample_df = pd.read_csv("LeaveTimesTrips_JUN.csv")
sample_df.count()
#sample_df.head()

In [65]:
# How many lines
lines = sample_df['LineId'].unique()
print(len(lines))

123

In [16]:
sample_df = sample_df[(sample_df['LineId']=='39A')]
sample_df.head()

,TripId,DataSource,DayOfService,ProgrNumber,StopPointId,PlannedTime_Arr,PlannedTime_Dep,ActualTime_Arr,ActualTime_Dep,VehicleId,Passengers,Passengersin,Distance,Suppressed,JustificationId,LastUpdate,Note,LineId,RouteId,Direction
260,5108092,DB,2017-06-28,58,751,42071,42071,44775,44782,1000922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39A,39A_43,2
261,5108092,DB,2017-06-28,26,4747,39484,39484,39865,39957,1000922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39A,39A_43,2
262,5108092,DB,2017-06-28,43,1713,40674,40674,41219,41219,1000922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39A,39A_43,2
263,5108092,DB,2017-06-28,59,752,42137,42137,44875,44886,1000922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39A,39A_43,2
264,5108092,DB,2017-06-28,27,1845,39882,39882,40305,40314,1000922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39A,39A_43,2

In [17]:
stations = sample_df['ProgrNumber'].sort_values().unique()

In [18]:
# Drop several columns
sample_df = sample_df.drop(['DataSource','Passengers', 'Passengersin','Distance', 'Suppressed','JustificationId','LastUpdate','Note','VehicleId', 'LineId', 'RouteId'], axis=1)
sample_df.head()

,TripId,DayOfService,ProgrNumber,StopPointId,PlannedTime_Arr,PlannedTime_Dep,ActualTime_Arr,ActualTime_Dep,Direction
260,5108092,2017-06-28,58,751,42071,42071,44775,44782,2
261,5108092,2017-06-28,26,4747,39484,39484,39865,39957,2
262,5108092,2017-06-28,43,1713,40674,40674,41219,41219,2
263,5108092,2017-06-28,59,752,42137,42137,44875,44886,2
264,5108092,2017-06-28,27,1845,39882,39882,40305,40314,2

In [19]:
sample_a_df = sample_df[(sample_df['Direction']) == 1]
sample_b_df = sample_df[(sample_df['Direction']) == 2]

In [20]:
tripids = sample_a_df['TripId'].sort_values().unique()
len(tripids)

413

In [21]:
dayOfService = sample_a_df[(sample_a_df['TripId'] == 5002343)].DayOfService.sort_values().unique()
for day in dayOfService:
    print(day)

2017-06-01
2017-06-02
2017-06-07
2017-06-08
2017-06-09

In [22]:
temp = sample_a_df[(sample_a_df['TripId'] == 5002343) & (sample_a_df['ProgrNumber'] == 1)]
temp

,TripId,DayOfService,ProgrNumber,StopPointId,PlannedTime_Arr,PlannedTime_Dep,ActualTime_Arr,ActualTime_Dep,Direction
309958,5002343,2017-06-07,1,767,28200,28200,28231,28231,1
310026,5002343,2017-06-08,1,767,28200,28200,28172,28172,1
2113464,5002343,2017-06-09,1,767,28200,28200,28259,28259,1
3128291,5002343,2017-06-01,1,767,28200,28200,28182,28182,1
4056514,5002343,2017-06-02,1,767,28200,28200,28163,28163,1

In [33]:
count = 0
tag = 0
for tripid in tripids:
    # Pick the first 100 trips
    if tag == 100:
        break
    else:
        tag += 1
    dayOfService = sample_a_df[(sample_a_df['TripId'] == tripid)].DayOfService.sort_values().unique()
    for day in dayOfService:
        
        timepool = {}
        pool = []
        isUseful = True
        for i in stations:
            oneStationRow = sample_a_df[(sample_a_df['TripId'] == tripid) & (sample_a_df['DayOfService'] == day) & (sample_a_df['ProgrNumber'] == i )]
            #print(oneStationRow)
            try:
                #timepool.append([oneStationRow['PlannedTime_Arr'].iloc[0], oneStationRow['ActualTime_Arr'].iloc[0]])
                timepool['a_{}'.format(i)] = oneStationRow['PlannedTime_Arr'].iloc[0]
                timepool['b_{}'.format(i)] = oneStationRow['ActualTime_Arr'].iloc[0]
                #last_plannedtime_arr = oneStationRow['PlannedTime_Arr'].iloc[0]
                #last_actualtime_arr = oneStationRow['ActualTime_Arr'].iloc[0]
            except:
                #timepool['a_{}'.format(i)] = last_plannedtime_arr
                #timepool['b_{}'.format(i)] = last_actualtime_arr
                #continue
                isUseful = False
                break
        #print('----'*20)
        #print(timepool)
        if isUseful == True:
            print(tripid, day, "===" * 20)
            print(timepool)
            if count == 0:
                df = pd.DataFrame(data=timepool,index=[0])
            else:
                df.loc[count] = timepool
            count += 1
    if count % 10 == 0:
        print(count)

5002343 2017-06-07 ============================================================
{'a_55': 31890, 'b_2': 28367, 'a_18': 29010, 'b_66': 33004, 'b_51': 32254, 'a_1': 28200, 'b_43': 31483, 'a_23': 29502, 'a_5': 28419, 'b_47': 31948, 'a_72': 32326, 'a_56': 31924, 'b_19': 29357, 'b_68': 33130, 'a_37': 30705, 'b_52': 32300, 'b_32': 30668, 'b_23': 29847, 'b_71': 33257, 'a_69': 32267, 'a_63': 32097, 'a_32': 30323, 'a_34': 30435, 'a_11': 28683, 'b_35': 30850, 'a_16': 28928, 'b_39': 31256, 'b_14': 28966, 'b_11': 28850, 'a_7': 28500, 'b_59': 32629, 'a_22': 29393, 'a_58': 31996, 'b_60': 32779, 'b_33': 30811, 'a_14': 28839, 'a_35': 30460, 'b_37': 31047, 'b_30': 30559, 'a_27': 29880, 'a_47': 31567, 'b_63': 32874, 'a_41': 30989, 'b_65': 32975, 'b_21': 29542, 'a_31': 30229, 'a_17': 28958, 'a_48': 31632, 'a_4': 28396, 'b_27': 30291, 'a_39': 30861, 'a_10': 28637, 'a_61': 32058, 'a_9': 28592, 'a_28': 29964, 'b_18': 29250, 'a_73': 32344, 'a_43': 31099, 'a_49': 31661, 'a_19': 29104, 'b_64': 32918, 'a_38': 30779, 'a_62': 32076, 'a_20': 29244, 'b_44': 31508, 'b_15': 29034, 'a_67': 32195, 'a_51': 31731, 'a_44': 31127, 'a_59': 32020, 'b_17': 29119, 'b_4': 28487, 'a_52': 31771, 'b_6': 28537, 'a_54': 31856, 'b_5': 28497, 'b_7': 28576, 'a_3': 28339, 'b_50': 32211, 'a_53': 31816, 'a_6': 28467, 'a_13': 28798, 'b_49': 32170, 'a_64': 32131, 'a_57': 31974, 'a_46': 31330, 'a_25': 29701, 'b_38': 31171, 'b_40': 31345, 'b_45': 31555, 'a_15': 28875, 'a_65': 32162, 'b_53': 32353, 'b_73': 33326, 'a_66': 32174, 'a_8': 28539, 'b_67': 33046, 'a_50': 31692, 'b_28': 30372, 'b_3': 28429, 'b_46': 31769, 'b_70': 33207, 'b_9': 28710, 'b_48': 32062, 'a_12': 28739, 'a_29': 30105, 'b_16': 29086, 'b_62': 32829, 'b_57': 32497, 'b_54': 32399, 'b_20': 29539, 'a_70': 32276, 'a_40': 30940, 'a_60': 32045, 'b_42': 31414, 'b_55': 32422, 'a_71': 32306, 'b_29': 30455, 'b_36': 30930, 'a_42': 31018, 'a_33': 30387, 'a_45': 31174, 'b_72': 33287, 'b_22': 29684, 'b_61': 32798, 'b_25': 30086, 'a_21': 29254, 'b_69': 33200, 'b_12': 28903, 'b_26': 30242, 'b_24': 29893, 'b_56': 32448, 'b_13': 28929, 'b_41': 31391, 'a_36': 30533, 'a_2': 28302, 'b_10': 28827, 'a_30': 30194, 'b_1': 28231, 'a_26': 29804, 'b_31': 30614, 'a_24': 29545, 'a_68': 32224, 'b_34': 30831, 'b_8': 28649, 'b_58': 32559}
5002343 2017-06-08 ============================================================
{'a_55': 31890, 'b_2': 28257, 'a_18': 29010, 'b_66': 33313, 'b_51': 32487, 'a_1': 28200, 'b_43': 31775, 'a_23': 29502, 'a_5': 28419, 'b_47': 32249, 'a_72': 32326, 'a_56': 31924, 'b_19': 29353, 'b_68': 33429, 'a_37': 30705, 'b_52': 32510, 'b_32': 30819, 'b_23': 29909, 'b_71': 33587, 'a_69': 32267, 'a_63': 32097, 'a_32': 30323, 'a_34': 30435, 'a_11': 28683, 'b_35': 31014, 'a_16': 28928, 'b_39': 31539, 'b_14': 28959, 'b_11': 28746, 'a_7': 28500, 'b_59': 32906, 'a_22': 29393, 'a_58': 31996, 'b_60': 33090, 'b_33': 30953, 'a_14': 28839, 'a_35': 30460, 'b_37': 31181, 'b_30': 30672, 'a_27': 29880, 'a_47': 31567, 'b_63': 33183, 'a_41': 30989, 'b_65': 33296, 'b_21': 29603, 'a_31': 30229, 'a_17': 28958, 'a_48': 31632, 'a_4': 28396, 'b_27': 30355, 'a_39': 30861, 'a_10': 28637, 'a_61': 32058, 'a_9': 28592, 'a_28': 29964, 'b_18': 29215, 'a_73': 32344, 'a_43': 31099, 'a_49': 31661, 'a_19': 29104, 'b_64': 33222, 'a_38': 30779, 'a_62': 32076, 'a_20': 29244, 'b_44': 31814, 'b_15': 29036, 'a_67': 32195, 'a_51': 31731, 'a_44': 31127, 'a_59': 32020, 'b_17': 29158, 'b_4': 28412, 'a_52': 31771, 'b_6': 28491, 'a_54': 31856, 'b_5': 28426, 'b_7': 28512, 'a_3': 28339, 'b_50': 32454, 'a_53': 31816, 'a_6': 28467, 'a_13': 28798, 'b_49': 32407, 'a_64': 32131, 'a_57': 31974, 'a_46': 31330, 'a_25': 29701, 'b_38': 31465, 'b_40': 31643, 'b_45': 31866, 'a_15': 28875, 'a_65': 32162, 'b_53': 32560, 'b_73': 33654, 'a_66': 32174, 'a_8': 28539, 'b_67': 33359, 'a_50': 31692, 'b_28': 30438, 'b_3': 28321, 'b_46': 32077, 'b_70': 33538, 'b_9': 28637, 'b_48': 32350, 'a_12': 28739, 'a_29': 30105, 'b_16': 29117, 'b_62': 33162, 'b_57': 32796, 'b_54': 32596, 'b_20': 29601, 'a_70': 32276, 'a_40': 30940, 'a_60': 32045, 'b_42': 31688, 'b_55': 32614, 'a_71': 32306, 'b_29': 30576, 'b_36': 31083, 'a_42': 31018, 'a_33': 30387, 'a_45': 31174, 'b_72': 33620, 'b_22': 29688, 'b_61': 33111, 'b_25': 30202, 'a_21': 29254, 'b_69': 33513, 'b_12': 28846, 'b_26': 30310, 'b_24': 29962, 'b_56': 32671, 'b_13': 28888, 'b_41': 31665, 'a_36': 30533, 'a_2': 28302, 'b_10': 28714, 'a_30': 30194, 'b_1': 28172, 'a_26': 29804, 'b_31': 30735, 'a_24': 29545, 'a_68': 32224, 'b_34': 30993, 'b_8': 28578, 'b_58': 32837}
5003102 2017-06-09 ============================================================
{'a_55': 38771, 'b_2': 34831, 'a_18': 35798, 'b_66': 39354, 'b_51': 38758, 'a_1': 34800, 'b_43': 38117, 'a_23': 36495, 'a_5': 35071, 'b_47': 38536, 'a_72': 39199, 'a_56': 38802, 'b_19': 35588, 'b_68': 39460, 'a_37': 37676, 'b_52': 38801, 'b_32': 37536, 'b_23': 36050, 'b_71': 39567, 'a_69': 39140, 'a_63': 38970, 'a_32': 37398, 'a_34': 37491, 'a_11': 35428, 'b_35': 37664, 'a_16': 35685, 'b_39': 37929, 'b_14': 35267, 'b_11': 35199, 'a_7': 35168, 'b_59': 39045, 'a_22': 36335, 'a_58': 38869, 'b_60': 39183, 'b_33': 37626, 'a_14': 35591, 'a_35': 37532, 'b_37': 37842, 'b_30': 37451, 'a_27': 36983, 'a_47': 38466, 'b_63': 39242, 'a_41': 37890, 'b_65': 39341, 'b_21': 35808, 'a_31': 37312, 'a_17': 35727, 'a_48': 38533, 'a_4': 35050, 'b_27': 37127, 'a_39': 37780, 'a_10': 35380, 'a_61': 38931, 'a_9': 35316, 'a_28': 37062, 'b_18': 35451, 'a_73': 39217, 'a_43': 37985, 'a_49': 38563, 'a_19': 35927, 'b_64': 39283, 'a_38': 37725, 'a_62': 38949, 'a_20': 36118, 'b_44': 38158, 'b_15': 35318, 'a_67': 39068, 'a_51': 38626, 'a_44': 38010, 'a_59': 38893, 'b_17': 35386, 'b_4': 34934, 'a_52': 38662, 'b_6': 34974, 'a_54': 38740, 'b_5': 34944, 'b_7': 35010, 'a_3': 34997, 'b_50': 38706, 'a_53': 38703, 'a_6': 35115, 'a_13': 35548, 'b_49': 38672, 'a_64': 39004, 'a_57': 38847, 'a_46': 38220, 'a_25': 36787, 'b_38': 37892, 'b_40': 37974, 'b_45': 38203, 'a_15': 35628, 'a_65': 39035, 'b_53': 38852, 'b_73': 39624, 'a_66': 39047, 'a_8': 35231, 'b_67': 39390, 'a_50': 38591, 'b_28': 37235, 'b_3': 34882, 'b_46': 38347, 'b_70': 39522, 'b_9': 35125, 'b_48': 38642, 'a_12': 35487, 'a_29': 37195, 'b_16': 35352, 'b_62': 39222, 'b_57': 38958, 'b_54': 38873, 'b_20': 35805, 'a_70': 39149, 'a_40': 37848, 'a_60': 38918, 'b_42': 38052, 'b_55': 38890, 'a_71': 39179, 'b_29': 37378, 'b_36': 37727, 'a_42': 37929, 'a_33': 37451, 'a_45': 38059, 'b_72': 39600, 'b_22': 35949, 'b_61': 39202, 'b_25': 36776, 'a_21': 36132, 'b_69': 39519, 'b_12': 35229, 'b_26': 37097, 'b_24': 36345, 'b_56': 38911, 'b_13': 35249, 'b_41': 37991, 'a_36': 37602, 'a_2': 34971, 'b_10': 35165, 'a_30': 37280, 'b_1': 34744, 'a_26': 36912, 'b_31': 37483, 'a_24': 36558, 'a_68': 39097, 'b_34': 37645, 'b_8': 35066, 'b_58': 39007}
5003603 2017-06-08 ============================================================
{'a_55': 27690, 'b_2': 24122, 'a_18': 24810, 'b_66': 28355, 'b_51': 27597, 'a_1': 24000, 'b_43': 26825, 'a_23': 25302, 'a_5': 24219, 'b_47': 27296, 'a_72': 28126, 'a_56': 27724, 'b_19': 24947, 'b_68': 28467, 'a_37': 26505, 'b_52': 27645, 'b_32': 26273, 'b_23': 25338, 'b_71': 28601, 'a_69': 28067, 'a_63': 27897, 'a_32': 26123, 'a_34': 26235, 'a_11': 24483, 'b_35': 26438, 'a_16': 24728, 'b_39': 26642, 'b_14': 24651, 'b_11': 24501, 'a_7': 24300, 'b_59': 27901, 'a_22': 25193, 'a_58': 27796, 'b_60': 27967, 'b_33': 26398, 'a_14': 24639, 'a_35': 26260, 'b_37': 26557, 'b_30': 26191, 'a_27': 25680, 'a_47': 27367, 'b_63': 28194, 'a_41': 26789, 'b_65': 28341, 'b_21': 25132, 'a_31': 26029, 'a_17': 24758, 'a_48': 27432, 'a_4': 24196, 'b_27': 25867, 'a_39': 26661, 'a_10': 24437, 'a_61': 27858, 'a_9': 24392, 'a_28': 25764, 'b_18': 24870, 'a_73': 28144, 'a_43': 26899, 'a_49': 27461, 'a_19': 24904, 'b_64': 28254, 'a_38': 26579, 'a_62': 27876, 'a_20': 25044, 'b_44': 26860, 'b_15': 24727, 'a_67': 27995, 'a_51': 27531, 'a_44': 26927, 'a_59': 27820, 'b_17': 24837, 'b_4': 24235, 'a_52': 27571, 'b_6': 24324, 'a_54': 27656, 'b_5': 24275, 'b_7': 24377, 'a_3': 24139, 'b_50': 27501, 'a_53': 27616, 'a_6': 24267, 'a_13': 24598, 'b_49': 27451, 'a_64': 27931, 'a_57': 27774, 'a_46': 27130, 'a_25': 25501, 'b_38': 26603, 'b_40': 26692, 'b_45': 26912, 'a_15': 24675, 'a_65': 27962, 'b_53': 27706, 'b_73': 28701, 'a_66': 27974, 'a_8': 24339, 'b_67': 28396, 'a_50': 27492, 'b_28': 25975, 'b_3': 24185, 'b_46': 27109, 'b_70': 28538, 'b_9': 24433, 'b_48': 27425, 'a_12': 24539, 'a_29': 25905, 'b_16': 24822, 'b_62': 28148, 'b_57': 27819, 'b_54': 27746, 'b_20': 25132, 'a_70': 28076, 'a_40': 26740, 'a_60': 27845, 'b_42': 26769, 'b_55': 27767, 'a_71': 28106, 'b_29': 26120, 'b_36': 26485, 'a_42': 26818, 'a_33': 26187, 'a_45': 26974, 'b_72': 28649, 'b_22': 25255, 'b_61': 28122, 'b_25': 25619, 'a_21': 25054, 'b_69': 28528, 'b_12': 24574, 'b_26': 25813, 'b_24': 25372, 'b_56': 27789, 'b_13': 24617, 'b_41': 26717, 'a_36': 26333, 'a_2': 24102, 'b_10': 24480, 'a_30': 25994, 'b_1': 23524, 'a_26': 25604, 'b_31': 26226, 'a_24': 25345, 'a_68': 28024, 'b_34': 26419, 'b_8': 24399, 'b_58': 27866}

5003709 2017-06-07 ============================================================
{'a_55': 35152, 'b_2': 31434, 'a_18': 32177, 'b_66': 36186, 'b_51': 35564, 'a_1': 31200, 'b_43': 34894, 'a_23': 32842, 'a_5': 31455, 'b_47': 35335, 'a_72': 35580, 'a_56': 35182, 'b_19': 32675, 'b_68': 36301, 'a_37': 34026, 'b_52': 35602, 'b_32': 34189, 'b_23': 33222, 'b_71': 36448, 'a_69': 35521, 'a_63': 35351, 'a_32': 33716, 'a_34': 33793, 'a_11': 31810, 'b_35': 34312, 'a_16': 32088, 'b_39': 34653, 'b_14': 32190, 'b_11': 31967, 'a_7': 31557, 'b_59': 35862, 'a_22': 32696, 'a_58': 35250, 'b_60': 35932, 'b_33': 34272, 'a_14': 31987, 'a_35': 33822, 'b_37': 34537, 'b_30': 34103, 'a_27': 33289, 'a_47': 34853, 'b_63': 36078, 'a_41': 34275, 'b_65': 36171, 'b_21': 32874, 'a_31': 33618, 'a_17': 32121, 'a_48': 34919, 'a_4': 31429, 'b_27': 33667, 'a_39': 34185, 'a_10': 31754, 'a_61': 35312, 'a_9': 31692, 'a_28': 33367, 'b_18': 32516, 'a_73': 35598, 'a_43': 34377, 'a_49': 34949, 'a_19': 32306, 'b_64': 36123, 'a_38': 34101, 'a_62': 35330, 'a_20': 32497, 'b_44': 34921, 'b_15': 32290, 'a_67': 35449, 'a_51': 35011, 'a_44': 34409, 'a_59': 35274, 'b_17': 32449, 'b_4': 31547, 'a_52': 35046, 'b_6': 31643, 'a_54': 35122, 'b_5': 31560, 'b_7': 31734, 'a_3': 31365, 'b_50': 35516, 'a_53': 35086, 'a_6': 31508, 'a_13': 31942, 'b_49': 35481, 'a_64': 35385, 'a_57': 35228, 'a_46': 34612, 'a_25': 33110, 'b_38': 34611, 'b_40': 34750, 'b_45': 34970, 'a_15': 32027, 'a_65': 35416, 'b_53': 35633, 'b_73': 36524, 'a_66': 35428, 'a_8': 31614, 'b_67': 36228, 'a_50': 34977, 'b_28': 33769, 'b_3': 31506, 'b_46': 35159, 'b_70': 36376, 'b_9': 31839, 'b_48': 35452, 'a_12': 31877, 'a_29': 33498, 'b_16': 32396, 'b_62': 36054, 'b_57': 35771, 'b_54': 35651, 'b_20': 32873, 'a_70': 35530, 'a_40': 34240, 'a_60': 35299, 'b_42': 34814, 'b_55': 35675, 'a_71': 35560, 'b_29': 33923, 'b_36': 34440, 'a_42': 34312, 'a_33': 33760, 'a_45': 34454, 'b_72': 36482, 'b_22': 33019, 'b_61': 36032, 'b_25': 33439, 'a_21': 32510, 'b_69': 36366, 'b_12': 32031, 'b_26': 33626, 'b_24': 33314, 'b_56': 35718, 'b_13': 32095, 'b_41': 34777, 'a_36': 33889, 'a_2': 31337, 'b_10': 31914, 'a_30': 33581, 'b_1': 31269, 'a_26': 33219, 'b_31': 34120, 'a_24': 32900, 'a_68': 35478, 'b_34': 34292, 'b_8': 31781, 'b_58': 35821}
5003709 2017-06-08 ============================================================
{'a_55': 35152, 'b_2': 31316, 'a_18': 32177, 'b_66': 36575, 'b_51': 35964, 'a_1': 31200, 'b_43': 34896, 'a_23': 32842, 'a_5': 31455, 'b_47': 35729, 'a_72': 35580, 'a_56': 35182, 'b_19': 32498, 'b_68': 36669, 'a_37': 34026, 'b_52': 36002, 'b_32': 34262, 'b_23': 32946, 'b_71': 36786, 'a_69': 35521, 'a_63': 35351, 'a_32': 33716, 'a_34': 33793, 'a_11': 31810, 'b_35': 34386, 'a_16': 32088, 'b_39': 34696, 'b_14': 32104, 'b_11': 31893, 'a_7': 31557, 'b_59': 36280, 'a_22': 32696, 'a_58': 35250, 'b_60': 36322, 'b_33': 34332, 'a_14': 31987, 'a_35': 33822, 'b_37': 34576, 'b_30': 34031, 'a_27': 33289, 'a_47': 34853, 'b_63': 36475, 'a_41': 34275, 'b_65': 36566, 'b_21': 32753, 'a_31': 33618, 'a_17': 32121, 'a_48': 34919, 'a_4': 31429, 'b_27': 33549, 'a_39': 34185, 'a_10': 31754, 'a_61': 35312, 'a_9': 31692, 'a_28': 33367, 'b_18': 32407, 'a_73': 35598, 'a_43': 34377, 'a_49': 34949, 'a_19': 32306, 'b_64': 36518, 'a_38': 34101, 'a_62': 35330, 'a_20': 32497, 'b_44': 34919, 'b_15': 32197, 'a_67': 35449, 'a_51': 35011, 'a_44': 34409, 'a_59': 35274, 'b_17': 32359, 'b_4': 31450, 'a_52': 35046, 'b_6': 31528, 'a_54': 35122, 'b_5': 31488, 'b_7': 31619, 'a_3': 31365, 'b_50': 35904, 'a_53': 35086, 'a_6': 31508, 'a_13': 31942, 'b_49': 35889, 'a_64': 35385, 'a_57': 35228, 'a_46': 34612, 'a_25': 33110, 'b_38': 34619, 'b_40': 34757, 'b_45': 34963, 'a_15': 32027, 'a_65': 35416, 'b_53': 36039, 'b_73': 36840, 'a_66': 35428, 'a_8': 31614, 'b_67': 36611, 'a_50': 34977, 'b_28': 33659, 'b_3': 31392, 'b_46': 35562, 'b_70': 36742, 'b_9': 31736, 'b_48': 35856, 'a_12': 31877, 'a_29': 33498, 'b_16': 32289, 'b_62': 36430, 'b_57': 36168, 'b_54': 36073, 'b_20': 32751, 'a_70': 35530, 'a_40': 34240, 'a_60': 35299, 'b_42': 34826, 'b_55': 36094, 'a_71': 35560, 'b_29': 33817, 'b_36': 34450, 'a_42': 34312, 'a_33': 33760, 'a_45': 34454, 'b_72': 36819, 'b_22': 32863, 'b_61': 36402, 'b_25': 33331, 'a_21': 32510, 'b_69': 36733, 'b_12': 31975, 'b_26': 33509, 'b_24': 32993, 'b_56': 36134, 'b_13': 32031, 'b_41': 34807, 'a_36': 33889, 'a_2': 31337, 'b_10': 31807, 'a_30': 33581, 'b_1': 31172, 'a_26': 33219, 'b_31': 34107, 'a_24': 32900, 'a_68': 35478, 'b_34': 34367, 'b_8': 31681, 'b_58': 36215}
5003711 2017-06-09 ============================================================
{'a_55': 47548, 'b_2': 43308, 'a_18': 44142, 'b_66': 48368, 'b_51': 47548, 'a_1': 43200, 'b_43': 46696, 'a_23': 44986, 'a_5': 43415, 'b_47': 47162, 'a_72': 47992, 'a_56': 47585, 'b_19': 44319, 'b_68': 48494, 'a_37': 46362, 'b_52': 47591, 'b_32': 46077, 'b_23': 44750, 'b_71': 48670, 'a_69': 47933, 'a_63': 47763, 'a_32': 46017, 'a_34': 46162, 'a_11': 43731, 'b_35': 46202, 'a_16': 44039, 'b_39': 46521, 'b_14': 43881, 'b_11': 43696, 'a_7': 43494, 'b_59': 47977, 'a_22': 44774, 'a_58': 47662, 'b_60': 48013, 'b_33': 46146, 'a_14': 43927, 'a_35': 46200, 'b_37': 46361, 'b_30': 45909, 'a_27': 45592, 'a_47': 47197, 'b_63': 48228, 'a_41': 46605, 'b_65': 48351, 'b_21': 44514, 'a_31': 45924, 'a_17': 44077, 'a_48': 47267, 'a_4': 43397, 'b_27': 45675, 'a_39': 46468, 'a_10': 43670, 'a_61': 47724, 'a_9': 43609, 'a_28': 45671, 'b_18': 44178, 'a_73': 48010, 'a_43': 46694, 'a_49': 47299, 'a_19': 44282, 'b_64': 48270, 'a_38': 46412, 'a_62': 47742, 'a_20': 44489, 'b_44': 46736, 'b_15': 43927, 'a_67': 47861, 'a_51': 47375, 'a_44': 46720, 'a_59': 47686, 'b_17': 44068, 'b_4': 43447, 'a_52': 47418, 'b_6': 43486, 'a_54': 47511, 'b_5': 43457, 'b_7': 43510, 'a_3': 43353, 'b_50': 47446, 'a_53': 47467, 'a_6': 43452, 'a_13': 43877, 'b_49': 47410, 'a_64': 47797, 'a_57': 47640, 'a_46': 46939, 'a_25': 45374, 'b_38': 46421, 'b_40': 46569, 'b_45': 46789, 'a_15': 43971, 'a_65': 47828, 'b_53': 47656, 'b_73': 48727, 'a_66': 47840, 'a_8': 43543, 'b_67': 48410, 'a_50': 47333, 'b_28': 45777, 'b_3': 43350, 'b_46': 46955, 'b_70': 48609, 'b_9': 43631, 'b_48': 47348, 'a_12': 43804, 'a_29': 45804, 'b_16': 44049, 'b_62': 48196, 'b_57': 47807, 'b_54': 47699, 'b_20': 44511, 'a_70': 47942, 'a_40': 46552, 'a_60': 47711, 'b_42': 46618, 'b_55': 47722, 'a_71': 47972, 'b_29': 45872, 'b_36': 46293, 'a_42': 46637, 'a_33': 46100, 'a_45': 46770, 'b_72': 48704, 'b_22': 44668, 'b_61': 48153, 'b_25': 45353, 'a_21': 44504, 'b_69': 48581, 'b_12': 43772, 'b_26': 45581, 'b_24': 44771, 'b_56': 47765, 'b_13': 43830, 'b_41': 46595, 'a_36': 46263, 'a_2': 43330, 'b_10': 43662, 'a_30': 45889, 'b_1': 43182, 'a_26': 45521, 'b_31': 45945, 'a_24': 45070, 'a_68': 47890, 'b_34': 46179, 'b_8': 43530, 'b_58': 47851}
5004629 2017-06-07 ============================================================
{'a_55': 42613, 'b_2': 38560, 'a_18': 39407, 'b_66': 43198, 'b_51': 42517, 'a_1': 38400, 'b_43': 41718, 'a_23': 40128, 'a_5': 38618, 'b_47': 42138, 'a_72': 43047, 'a_56': 42646, 'b_19': 39378, 'b_68': 43279, 'a_37': 41463, 'b_52': 42564, 'b_32': 41145, 'b_23': 40080, 'b_71': 43432, 'a_69': 42988, 'a_63': 42818, 'a_32': 41126, 'a_34': 41277, 'a_11': 38925, 'b_35': 41251, 'a_16': 39255, 'b_39': 41505, 'b_14': 39042, 'b_11': 38957, 'a_7': 38706, 'b_59': 42950, 'a_22': 39980, 'a_58': 42717, 'b_60': 42984, 'b_33': 41221, 'a_14': 39115, 'a_35': 41305, 'b_37': 41407, 'b_30': 40998, 'a_27': 40654, 'a_47': 42284, 'b_63': 43067, 'a_41': 41665, 'b_65': 43184, 'b_21': 39663, 'a_31': 41050, 'a_17': 39311, 'a_48': 42359, 'a_4': 38596, 'b_27': 40745, 'a_39': 41592, 'a_10': 38896, 'a_61': 42779, 'a_9': 38821, 'a_28': 40752, 'b_18': 39249, 'a_73': 43065, 'a_43': 41752, 'a_49': 42393, 'a_19': 39556, 'b_64': 43125, 'a_38': 41524, 'a_62': 42797, 'a_20': 39776, 'b_44': 41738, 'b_15': 39110, 'a_67': 42916, 'a_51': 42460, 'a_44': 41781, 'a_59': 42741, 'b_17': 39190, 'b_4': 38678, 'a_52': 42498, 'b_6': 38721, 'a_54': 42580, 'b_5': 38690, 'b_7': 38782, 'a_3': 38542, 'b_50': 42445, 'a_53': 42541, 'a_6': 38664, 'a_13': 39052, 'b_49': 42334, 'a_64': 42852, 'a_57': 42695, 'a_46': 42008, 'a_25': 40398, 'b_38': 41454, 'b_40': 41592, 'b_45': 41784, 'a_15': 39171, 'a_65': 42883, 'b_53': 42631, 'b_73': 43484, 'a_66': 42895, 'a_8': 38755, 'b_67': 43232, 'a_50': 42423, 'b_28': 40780, 'b_3': 38628, 'b_46': 41925, 'b_70': 43390, 'b_9': 38865, 'b_48': 42294, 'a_12': 38961, 'a_29': 40916, 'b_16': 39157, 'b_62': 43042, 'b_57': 42814, 'b_54': 42675, 'b_20': 39657, 'a_70': 42997, 'a_40': 41637, 'a_60': 42766, 'b_42': 41660, 'b_55': 42709, 'a_71': 43027, 'b_29': 40922, 'b_36': 41304, 'a_42': 41684, 'a_33': 41213, 'a_45': 41826, 'b_72': 43461, 'b_22': 39921, 'b_61': 43023, 'b_25': 40486, 'a_21': 39792, 'b_69': 43365, 'b_12': 39000, 'b_26': 40665, 'b_24': 40136, 'b_56': 42768, 'b_13': 39023, 'b_41': 41617, 'a_36': 41386, 'a_2': 38508, 'b_10': 38934, 'a_30': 41021, 'b_1': 38434, 'a_26': 40566, 'b_31': 41034, 'a_24': 40186, 'a_68': 42945, 'b_34': 41236, 'b_8': 38819, 'b_58': 42870}

5006287 2017-06-10 ============================================================
{'a_55': 37736, 'b_2': 34304, 'a_18': 35160, 'b_66': 37767, 'b_51': 37231, 'a_1': 34200, 'b_43': 36593, 'a_23': 35532, 'a_5': 34456, 'b_47': 37020, 'a_72': 38428, 'a_56': 37762, 'b_19': 34958, 'b_68': 37857, 'a_37': 36540, 'b_52': 37256, 'b_32': 36069, 'b_23': 35344, 'b_71': 37986, 'a_69': 38325, 'a_63': 38020, 'a_32': 36240, 'a_34': 36360, 'a_11': 34794, 'b_35': 36249, 'a_16': 35040, 'b_39': 36396, 'b_14': 34691, 'b_11': 34627, 'a_7': 34548, 'b_59': 37528, 'a_22': 35474, 'a_58': 37839, 'b_60': 37563, 'b_33': 36217, 'a_14': 34955, 'a_35': 36420, 'b_37': 36324, 'b_30': 35971, 'a_27': 35878, 'a_47': 37456, 'b_63': 37641, 'a_41': 36780, 'b_65': 37738, 'b_21': 35094, 'a_31': 36153, 'a_17': 35085, 'a_48': 37528, 'a_4': 34434, 'b_27': 35734, 'a_39': 36660, 'a_10': 34740, 'a_61': 37950, 'a_9': 34680, 'a_28': 35942, 'b_18': 34900, 'a_73': 38460, 'a_43': 36900, 'a_49': 37560, 'a_19': 35253, 'b_64': 37681, 'a_38': 36597, 'a_62': 37982, 'a_20': 35390, 'b_44': 36617, 'b_15': 34734, 'a_67': 38196, 'a_51': 37614, 'a_44': 36960, 'a_59': 37882, 'b_17': 34868, 'b_4': 34358, 'a_52': 37644, 'b_6': 34430, 'a_54': 37710, 'b_5': 34387, 'b_7': 34453, 'a_3': 34380, 'b_50': 37165, 'a_53': 37679, 'a_6': 34500, 'a_13': 34916, 'b_49': 37145, 'a_64': 38081, 'a_57': 37800, 'a_46': 37193, 'a_25': 35640, 'b_38': 36362, 'b_40': 36459, 'b_45': 36662, 'a_15': 34989, 'a_65': 38137, 'b_53': 37306, 'b_73': 38038, 'a_66': 38158, 'a_8': 34604, 'b_67': 37805, 'a_50': 37584, 'b_28': 35850, 'b_3': 34324, 'b_46': 36865, 'b_70': 37941, 'b_9': 34526, 'b_48': 37127, 'a_12': 34860, 'a_29': 36050, 'b_16': 34818, 'b_62': 37617, 'b_57': 37417, 'b_54': 37342, 'b_20': 35094, 'a_70': 38340, 'a_40': 36734, 'a_60': 37927, 'b_42': 36520, 'b_55': 37360, 'a_71': 38393, 'b_29': 35915, 'b_36': 36285, 'a_42': 36840, 'a_33': 36309, 'a_45': 37020, 'b_72': 38013, 'b_22': 35170, 'b_61': 37583, 'b_25': 35582, 'a_21': 35400, 'b_69': 37933, 'b_12': 34659, 'b_26': 35701, 'b_24': 35382, 'b_56': 37381, 'b_13': 34678, 'b_41': 36484, 'a_36': 36480, 'a_2': 34320, 'b_10': 34575, 'a_30': 36120, 'b_1': 34184, 'a_26': 35820, 'b_31': 36005, 'a_24': 35555, 'a_68': 38249, 'b_34': 36234, 'b_8': 34480, 'b_58': 37480}
5007154 2017-06-08 ============================================================
{'a_55': 36971, 'b_2': 33230, 'a_18': 33998, 'b_66': 39242, 'b_51': 38483, 'a_1': 33000, 'b_43': 36713, 'a_23': 34695, 'a_5': 33271, 'b_47': 38158, 'a_72': 37399, 'a_56': 37002, 'b_19': 34049, 'b_68': 39345, 'a_37': 35876, 'b_52': 38526, 'b_32': 36050, 'b_23': 34659, 'b_71': 39535, 'a_69': 37340, 'a_63': 37170, 'a_32': 35598, 'a_34': 35691, 'a_11': 33628, 'b_35': 36169, 'a_16': 33885, 'b_39': 36438, 'b_14': 33713, 'b_11': 33630, 'a_7': 33368, 'b_59': 38848, 'a_22': 34535, 'a_58': 37069, 'b_60': 38933, 'b_33': 36128, 'a_14': 33791, 'a_35': 35732, 'b_37': 36350, 'b_30': 35888, 'a_27': 35183, 'a_47': 36666, 'b_63': 39106, 'a_41': 36090, 'b_65': 39229, 'b_21': 34278, 'a_31': 35512, 'a_17': 33927, 'a_48': 36733, 'a_4': 33250, 'b_27': 35483, 'a_39': 35980, 'a_10': 33580, 'a_61': 37131, 'a_9': 33516, 'a_28': 35262, 'b_18': 33942, 'a_73': 37417, 'a_43': 36185, 'a_49': 36763, 'a_19': 34127, 'b_64': 39167, 'a_38': 35925, 'a_62': 37149, 'a_20': 34318, 'b_44': 36738, 'b_15': 33757, 'a_67': 37268, 'a_51': 36826, 'a_44': 36210, 'a_59': 37093, 'b_17': 33835, 'b_4': 33300, 'a_52': 36862, 'b_6': 33369, 'a_54': 36940, 'b_5': 33337, 'b_7': 33416, 'a_3': 33197, 'b_50': 38422, 'a_53': 36903, 'a_6': 33315, 'a_13': 33748, 'b_49': 38368, 'a_64': 37204, 'a_57': 37047, 'a_46': 36420, 'a_25': 34987, 'b_38': 36407, 'b_40': 36506, 'b_45': 36785, 'a_15': 33828, 'a_65': 37235, 'b_53': 38564, 'b_73': 39609, 'a_66': 37247, 'a_8': 33431, 'b_67': 39288, 'a_50': 36791, 'b_28': 35575, 'b_3': 33248, 'b_46': 37971, 'b_70': 39469, 'b_9': 33535, 'b_48': 38328, 'a_12': 33687, 'a_29': 35395, 'b_16': 33816, 'b_62': 39059, 'b_57': 38741, 'b_54': 38608, 'b_20': 34276, 'a_70': 37349, 'a_40': 36048, 'a_60': 37118, 'b_42': 36607, 'b_55': 38644, 'a_71': 37379, 'b_29': 35754, 'b_36': 36271, 'a_42': 36129, 'a_33': 35651, 'a_45': 36259, 'b_72': 39568, 'b_22': 34581, 'b_61': 39031, 'b_25': 35019, 'a_21': 34332, 'b_69': 39439, 'b_12': 33656, 'b_26': 35388, 'b_24': 34724, 'b_56': 38675, 'b_13': 33682, 'b_41': 36562, 'a_36': 35802, 'a_2': 33171, 'b_10': 33599, 'a_30': 35480, 'b_1': 33090, 'a_26': 35112, 'b_31': 35969, 'a_24': 34758, 'a_68': 37297, 'b_34': 36150, 'b_8': 33489, 'b_58': 38805}
10
10
10
10
10
10
10
10
10
10
10
5007944 2017-06-07 ============================================================
{'a_55': 30401, 'b_2': 26840, 'a_18': 27527, 'b_66': 31073, 'b_51': 30270, 'a_1': 26700, 'b_43': 29541, 'a_23': 28014, 'a_5': 26936, 'b_47': 29973, 'a_72': 30853, 'a_56': 30441, 'b_19': 27786, 'b_68': 31240, 'a_37': 29160, 'b_52': 30326, 'b_32': 28945, 'b_23': 28168, 'b_71': 31396, 'a_69': 30794, 'a_63': 30624, 'a_32': 28879, 'a_34': 28953, 'a_11': 27206, 'b_35': 29056, 'a_16': 27438, 'b_39': 29265, 'b_14': 27473, 'b_11': 27271, 'a_7': 27018, 'b_59': 30692, 'a_22': 27899, 'a_58': 30523, 'b_60': 30759, 'b_33': 29017, 'a_14': 27353, 'a_35': 28982, 'b_37': 29213, 'b_30': 28830, 'a_27': 28409, 'a_47': 30035, 'b_63': 30978, 'a_41': 29448, 'b_65': 31061, 'b_21': 27934, 'a_31': 28771, 'a_17': 27471, 'a_48': 30101, 'a_4': 26913, 'b_27': 28573, 'a_39': 29317, 'a_10': 27163, 'a_61': 30585, 'a_9': 27114, 'a_28': 28494, 'b_18': 27715, 'a_73': 30871, 'a_43': 29549, 'a_49': 30131, 'a_19': 27614, 'b_64': 31019, 'a_38': 29234, 'a_62': 30603, 'a_20': 27743, 'b_44': 29566, 'b_15': 27501, 'a_67': 30722, 'a_51': 30213, 'a_44': 29583, 'a_59': 30547, 'b_17': 27596, 'b_4': 26919, 'a_52': 30260, 'b_6': 27008, 'a_54': 30361, 'b_5': 26954, 'b_7': 27102, 'a_3': 26857, 'b_50': 30200, 'a_53': 30313, 'a_6': 26983, 'a_13': 27315, 'b_49': 30170, 'a_64': 30658, 'a_57': 30501, 'a_46': 29791, 'a_25': 28225, 'b_38': 29237, 'b_40': 29349, 'b_45': 29613, 'a_15': 27387, 'a_65': 30689, 'b_53': 30392, 'b_73': 31460, 'a_66': 30701, 'a_8': 27059, 'b_67': 31113, 'a_50': 30167, 'b_28': 28606, 'b_3': 26880, 'b_46': 29796, 'b_70': 31328, 'b_9': 27182, 'b_48': 30108, 'a_12': 27259, 'a_29': 28638, 'b_16': 27564, 'b_62': 30954, 'b_57': 30551, 'b_54': 30431, 'b_20': 27931, 'a_70': 30803, 'a_40': 29398, 'a_60': 30572, 'b_42': 29465, 'b_55': 30452, 'a_71': 30833, 'b_29': 28748, 'b_36': 29142, 'a_42': 29489, 'a_33': 28921, 'a_45': 29631, 'b_72': 31440, 'b_22': 28038, 'b_61': 30934, 'b_25': 28374, 'a_21': 27752, 'b_69': 31313, 'b_12': 27349, 'b_26': 28504, 'b_24': 28185, 'b_56': 30504, 'b_13': 27389, 'b_41': 29445, 'a_36': 29078, 'a_2': 26829, 'b_10': 27233, 'a_30': 28730, 'b_1': 26700, 'a_26': 28332, 'b_31': 28878, 'a_24': 28060, 'a_68': 30751, 'b_34': 29036, 'b_8': 27141, 'b_58': 30602}
5007946 2017-06-07 ============================================================
{'a_55': 43813, 'b_2': 39606, 'a_18': 40607, 'b_66': 43741, 'b_51': 43179, 'a_1': 39600, 'b_43': 42399, 'a_23': 41328, 'a_5': 39818, 'b_47': 42866, 'a_72': 44247, 'a_56': 43846, 'b_19': 40413, 'b_68': 43814, 'a_37': 42663, 'b_52': 43217, 'b_32': 41756, 'b_23': 40929, 'b_71': 43943, 'a_69': 44188, 'a_63': 44018, 'a_32': 42326, 'a_34': 42477, 'a_11': 40125, 'b_35': 41882, 'a_16': 40455, 'b_39': 42187, 'b_14': 40099, 'b_11': 39985, 'a_7': 39906, 'b_59': 43470, 'a_22': 41180, 'a_58': 43917, 'b_60': 43559, 'b_33': 41810, 'a_14': 40315, 'a_35': 42505, 'b_37': 42080, 'b_30': 41575, 'a_27': 41854, 'a_47': 43484, 'b_63': 43633, 'a_41': 42865, 'b_65': 43728, 'b_21': 40668, 'a_31': 42250, 'a_17': 40511, 'a_48': 43559, 'a_4': 39796, 'b_27': 41342, 'a_39': 42792, 'a_10': 40096, 'a_61': 43979, 'a_9': 40021, 'a_28': 41952, 'b_18': 40282, 'a_73': 44265, 'a_43': 42952, 'a_49': 43593, 'a_19': 40756, 'b_64': 43669, 'a_38': 42724, 'a_62': 43997, 'a_20': 40976, 'b_44': 42422, 'b_15': 40134, 'a_67': 44116, 'a_51': 43660, 'a_44': 42981, 'a_59': 43941, 'b_17': 40247, 'b_4': 39678, 'a_52': 43698, 'b_6': 39721, 'a_54': 43780, 'b_5': 39690, 'b_7': 39816, 'a_3': 39742, 'b_50': 43097, 'a_53': 43741, 'a_6': 39864, 'a_13': 40252, 'b_49': 43067, 'a_64': 44052, 'a_57': 43895, 'a_46': 43208, 'a_25': 41598, 'b_38': 42120, 'b_40': 42250, 'b_45': 42475, 'a_15': 40371, 'a_65': 44083, 'b_53': 43259, 'b_73': 43979, 'a_66': 44095, 'a_8': 39955, 'b_67': 43773, 'a_50': 43623, 'b_28': 41414, 'b_3': 39640, 'b_46': 42640, 'b_70': 43907, 'b_9': 39894, 'b_48': 43007, 'a_12': 40161, 'a_29': 42116, 'b_16': 40191, 'b_62': 43613, 'b_57': 43354, 'b_54': 43301, 'b_20': 40667, 'a_70': 44197, 'a_40': 42837, 'a_60': 43966, 'b_42': 42324, 'b_55': 43318, 'a_71': 44227, 'b_29': 41521, 'b_36': 41950, 'a_42': 42884, 'a_33': 42413, 'a_45': 43026, 'b_72': 43963, 'b_22': 40832, 'b_61': 43577, 'b_25': 41134, 'a_21': 40992, 'b_69': 43884, 'b_12': 40047, 'b_26': 41281, 'b_24': 40949, 'b_56': 43334, 'b_13': 40075, 'b_41': 42277, 'a_36': 42586, 'a_2': 39708, 'b_10': 39939, 'a_30': 42221, 'b_1': 39488, 'a_26': 41766, 'b_31': 41615, 'a_24': 41386, 'a_68': 44145, 'b_34': 41859, 'b_8': 39845, 'b_58': 43377}

5007980 2017-06-07 ============================================================
{'a_55': 32752, 'b_2': 28951, 'a_18': 29777, 'b_66': 34069, 'b_51': 33359, 'a_1': 28800, 'b_43': 32569, 'a_23': 30442, 'a_5': 29055, 'b_47': 33041, 'a_72': 33180, 'a_56': 32782, 'b_19': 30076, 'b_68': 34170, 'a_37': 31626, 'b_52': 33408, 'b_32': 31675, 'b_23': 30587, 'b_71': 34312, 'a_69': 33121, 'a_63': 32951, 'a_32': 31316, 'a_34': 31393, 'a_11': 29410, 'b_35': 31862, 'a_16': 29688, 'b_39': 32355, 'b_14': 29705, 'b_11': 29492, 'a_7': 29157, 'b_59': 33702, 'a_22': 30296, 'a_58': 32850, 'b_60': 33784, 'b_33': 31785, 'a_14': 29587, 'a_35': 31422, 'b_37': 32055, 'b_30': 31523, 'a_27': 30889, 'a_47': 32453, 'b_63': 33952, 'a_41': 31875, 'b_65': 34041, 'b_21': 30235, 'a_31': 31218, 'a_17': 29721, 'a_48': 32519, 'a_4': 29029, 'b_27': 31160, 'a_39': 31785, 'a_10': 29354, 'a_61': 32912, 'a_9': 29292, 'a_28': 30967, 'b_18': 29993, 'a_73': 33198, 'a_43': 31977, 'a_49': 32549, 'a_19': 29906, 'b_64': 33990, 'a_38': 31701, 'a_62': 32930, 'a_20': 30097, 'b_44': 32615, 'b_15': 29782, 'a_67': 33049, 'a_51': 32611, 'a_44': 32009, 'a_59': 32874, 'b_17': 29944, 'b_4': 29093, 'a_52': 32646, 'b_6': 29166, 'a_54': 32722, 'b_5': 29132, 'b_7': 29252, 'a_3': 28965, 'b_50': 33248, 'a_53': 32686, 'a_6': 29108, 'a_13': 29542, 'b_49': 33213, 'a_64': 32985, 'a_57': 32828, 'a_46': 32212, 'a_25': 30710, 'b_38': 32269, 'b_40': 32419, 'b_45': 32693, 'a_15': 29627, 'a_65': 33016, 'b_53': 33442, 'b_73': 34361, 'a_66': 33028, 'a_8': 29214, 'b_67': 34106, 'a_50': 32577, 'b_28': 31249, 'b_3': 29003, 'b_46': 32863, 'b_70': 34270, 'b_9': 29374, 'b_48': 33176, 'a_12': 29477, 'a_29': 31098, 'b_16': 29897, 'b_62': 33931, 'b_57': 33597, 'b_54': 33489, 'b_20': 30232, 'a_70': 33130, 'a_40': 31840, 'a_60': 32899, 'b_42': 32480, 'b_55': 33509, 'a_71': 33160, 'b_29': 31406, 'b_36': 31911, 'a_42': 31912, 'a_33': 31360, 'a_45': 32054, 'b_72': 34339, 'b_22': 30377, 'b_61': 33889, 'b_25': 30856, 'a_21': 30110, 'b_69': 34247, 'b_12': 29617, 'b_26': 31096, 'b_24': 30645, 'b_56': 33547, 'b_13': 29673, 'b_41': 32458, 'a_36': 31489, 'a_2': 28937, 'b_10': 29443, 'a_30': 31181, 'b_1': 28805, 'a_26': 30819, 'b_31': 31605, 'a_24': 30500, 'a_68': 33078, 'b_34': 31838, 'b_8': 29302, 'b_58': 33651}
5007987 2017-06-09 ============================================================
{'a_55': 83778, 'b_2': 80589, 'a_18': 81141, 'b_66': 84344, 'b_51': 83680, 'a_1': 80400, 'b_43': 82984, 'a_23': 81671, 'a_5': 80586, 'b_47': 83445, 'a_72': 84218, 'a_56': 83813, 'b_19': 81225, 'b_68': 84429, 'a_37': 82724, 'b_52': 83720, 'b_32': 82535, 'b_23': 81688, 'b_71': 84595, 'a_69': 84159, 'a_63': 83989, 'a_32': 82453, 'a_34': 82566, 'a_11': 80832, 'b_35': 82655, 'a_16': 81069, 'b_39': 82824, 'b_14': 80919, 'b_11': 80845, 'a_7': 80658, 'b_59': 84026, 'a_22': 81538, 'a_58': 83888, 'b_60': 84074, 'b_33': 82594, 'a_14': 80980, 'a_35': 82599, 'b_37': 82755, 'b_30': 82409, 'a_27': 82098, 'a_47': 83454, 'b_63': 84199, 'a_41': 82911, 'b_65': 84330, 'b_21': 81485, 'a_31': 82376, 'a_17': 81096, 'a_48': 83514, 'a_4': 80569, 'b_27': 82113, 'a_39': 82818, 'a_10': 80790, 'a_61': 83950, 'a_9': 80758, 'a_28': 82164, 'b_18': 81141, 'a_73': 84236, 'a_43': 83007, 'a_49': 83541, 'a_19': 81229, 'b_64': 84237, 'a_38': 82768, 'a_62': 83968, 'a_20': 81359, 'b_44': 83030, 'b_15': 81003, 'a_67': 84087, 'a_51': 83613, 'a_44': 83035, 'a_59': 83912, 'b_17': 81098, 'b_4': 80660, 'a_52': 83654, 'b_6': 80693, 'a_54': 83743, 'b_5': 80668, 'b_7': 80719, 'a_3': 80526, 'b_50': 83606, 'a_53': 83701, 'a_6': 80622, 'a_13': 80940, 'b_49': 83588, 'a_64': 84023, 'a_57': 83866, 'a_46': 83234, 'a_25': 81913, 'b_38': 82800, 'b_40': 82854, 'b_45': 83080, 'a_15': 81015, 'a_65': 84054, 'b_53': 83791, 'b_73': 84645, 'a_66': 84066, 'a_8': 80700, 'b_67': 84379, 'a_50': 83573, 'b_28': 82221, 'b_3': 80630, 'b_46': 83258, 'b_70': 84549, 'b_9': 80769, 'b_48': 83536, 'a_12': 80882, 'a_29': 82276, 'b_16': 81060, 'b_62': 84160, 'b_57': 83908, 'b_54': 83813, 'b_20': 81481, 'a_70': 84168, 'a_40': 82875, 'a_60': 83937, 'b_42': 82917, 'b_55': 83832, 'a_71': 84198, 'b_29': 82343, 'b_36': 82714, 'a_42': 82941, 'a_33': 82518, 'a_45': 83090, 'b_72': 84621, 'b_22': 81590, 'b_61': 84136, 'b_25': 81854, 'a_21': 81369, 'b_69': 84542, 'b_12': 80877, 'b_26': 81994, 'b_24': 81713, 'b_56': 83857, 'b_13': 80900, 'b_41': 82877, 'a_36': 82663, 'a_2': 80502, 'b_10': 80814, 'a_30': 82347, 'b_1': 80488, 'a_26': 82038, 'b_31': 82467, 'a_24': 81723, 'a_68': 84116, 'b_34': 82617, 'b_8': 80736, 'b_58': 83960}
5008291 2017-06-10 ============================================================
{'a_55': 33416, 'b_2': 30676, 'a_18': 31320, 'b_66': 34292, 'b_51': 33629, 'a_1': 30600, 'b_43': 33020, 'a_23': 31632, 'a_5': 30856, 'b_47': 33417, 'a_72': 34108, 'a_56': 33442, 'b_19': 31392, 'b_68': 34398, 'a_37': 32460, 'b_52': 33655, 'b_32': 32515, 'b_23': 31783, 'b_71': 34520, 'a_69': 34005, 'a_63': 33700, 'a_32': 32220, 'a_34': 32280, 'a_11': 31107, 'b_35': 32638, 'a_16': 31260, 'b_39': 32845, 'b_14': 31125, 'b_11': 31008, 'a_7': 30932, 'b_59': 34000, 'a_22': 31574, 'a_58': 33519, 'b_60': 34039, 'b_33': 32595, 'a_14': 31203, 'a_35': 32340, 'b_37': 32779, 'b_30': 32407, 'a_27': 31907, 'a_47': 33159, 'b_63': 34192, 'a_41': 32580, 'b_65': 34278, 'b_21': 31526, 'a_31': 32133, 'a_17': 31282, 'a_48': 33215, 'a_4': 30834, 'b_27': 32174, 'a_39': 32520, 'a_10': 31080, 'a_61': 33630, 'a_9': 31020, 'a_28': 31958, 'b_18': 31326, 'a_73': 34140, 'a_43': 32700, 'a_49': 33240, 'a_19': 31390, 'b_64': 34232, 'a_38': 32488, 'a_62': 33662, 'a_20': 31493, 'b_44': 33045, 'b_15': 31169, 'a_67': 33876, 'a_51': 33294, 'a_44': 32760, 'a_59': 33562, 'b_17': 31231, 'b_4': 30765, 'a_52': 33324, 'b_6': 30819, 'a_54': 33390, 'b_5': 30791, 'b_7': 30838, 'a_3': 30780, 'b_50': 33597, 'a_53': 33359, 'a_6': 30900, 'a_13': 31177, 'b_49': 33562, 'a_64': 33761, 'a_57': 33480, 'a_46': 32954, 'a_25': 31740, 'b_38': 32818, 'b_40': 32913, 'b_45': 33096, 'a_15': 31226, 'a_65': 33817, 'b_53': 33716, 'b_73': 34571, 'a_66': 33838, 'a_8': 30969, 'b_67': 34339, 'a_50': 33264, 'b_28': 32206, 'b_3': 30731, 'b_46': 33246, 'b_70': 34463, 'b_9': 30916, 'b_48': 33525, 'a_12': 31140, 'a_29': 32045, 'b_16': 31213, 'b_62': 34149, 'b_57': 33878, 'b_54': 33759, 'b_20': 31523, 'a_70': 34020, 'a_40': 32557, 'a_60': 33607, 'b_42': 32955, 'b_55': 33821, 'a_71': 34073, 'b_29': 32337, 'b_36': 32693, 'a_42': 32640, 'a_33': 32254, 'a_45': 32820, 'b_72': 34547, 'b_22': 31653, 'b_61': 34119, 'b_25': 31982, 'a_21': 31500, 'b_69': 34450, 'b_12': 31079, 'b_26': 32088, 'b_24': 31820, 'b_56': 33846, 'b_13': 31105, 'b_41': 32937, 'a_36': 32400, 'a_2': 30720, 'b_10': 30986, 'a_30': 32100, 'b_1': 30582, 'a_26': 31860, 'b_31': 32458, 'a_24': 31655, 'a_68': 33929, 'b_34': 32618, 'b_8': 30878, 'b_58': 33923}
5008293 2017-06-10 ============================================================
{'a_55': 44016, 'b_2': 40566, 'a_18': 41189, 'b_66': 44778, 'b_51': 44081, 'a_1': 40500, 'b_43': 43344, 'a_23': 41946, 'a_5': 40710, 'b_47': 43758, 'a_72': 44441, 'a_56': 44045, 'b_19': 41386, 'b_68': 44885, 'a_37': 43029, 'b_52': 44133, 'b_32': 42812, 'b_23': 41780, 'b_71': 45039, 'a_69': 44382, 'a_63': 44212, 'a_32': 42746, 'a_34': 42857, 'a_11': 40944, 'b_35': 42959, 'a_16': 41112, 'b_39': 43115, 'b_14': 41032, 'b_11': 40948, 'a_7': 40775, 'b_59': 44464, 'a_22': 41792, 'a_58': 44111, 'b_60': 44501, 'b_33': 42924, 'a_14': 41053, 'a_35': 42894, 'b_37': 43044, 'b_30': 42670, 'a_27': 42387, 'a_47': 43735, 'b_63': 44643, 'a_41': 43188, 'b_65': 44764, 'b_21': 41556, 'a_31': 42670, 'a_17': 41141, 'a_48': 43795, 'a_4': 40692, 'b_27': 42325, 'a_39': 43111, 'a_10': 40907, 'a_61': 44173, 'a_9': 40852, 'a_28': 42455, 'b_18': 41315, 'a_73': 44459, 'a_43': 43293, 'a_49': 43822, 'a_19': 41346, 'b_64': 44701, 'a_38': 43068, 'a_62': 44191, 'a_20': 41579, 'b_44': 43368, 'b_15': 41071, 'a_67': 44310, 'a_51': 43881, 'a_44': 43324, 'a_59': 44135, 'b_17': 41247, 'b_4': 40625, 'a_52': 43915, 'b_6': 40663, 'a_54': 43987, 'b_5': 40635, 'b_7': 40750, 'a_3': 40647, 'b_50': 44002, 'a_53': 43953, 'a_6': 40747, 'a_13': 41027, 'b_49': 43981, 'a_64': 44246, 'a_57': 44089, 'a_46': 43515, 'a_25': 42229, 'b_38': 43068, 'b_40': 43199, 'b_45': 43414, 'a_15': 41076, 'a_65': 44277, 'b_53': 44182, 'b_73': 45090, 'a_66': 44289, 'a_8': 40808, 'b_67': 44828, 'a_50': 43848, 'b_28': 42464, 'b_3': 40588, 'b_46': 43552, 'b_70': 44995, 'b_9': 40866, 'b_48': 43961, 'a_12': 40989, 'a_29': 42569, 'b_16': 41188, 'b_62': 44616, 'b_57': 44336, 'b_54': 44237, 'b_20': 41554, 'a_70': 44391, 'a_40': 43158, 'a_60': 44160, 'b_42': 43239, 'b_55': 44258, 'a_71': 44421, 'b_29': 42593, 'b_36': 43004, 'a_42': 43235, 'a_33': 42810, 'a_45': 43370, 'b_72': 45065, 'b_22': 41660, 'b_61': 44595, 'b_25': 42071, 'a_21': 41596, 'b_69': 44985, 'b_12': 40979, 'b_26': 42243, 'b_24': 41827, 'b_56': 44287, 'b_13': 41003, 'b_41': 43220, 'a_36': 42956, 'a_2': 40625, 'b_10': 40905, 'a_30': 42641, 'b_1': 40477, 'a_26': 42326, 'b_31': 42722, 'a_24': 42007, 'a_68': 44339, 'b_34': 42943, 'b_8': 40815, 'b_58': 44386}

5009571 2017-06-08 ============================================================
{'a_55': 36371, 'b_2': 32599, 'a_18': 33398, 'b_66': 37635, 'b_51': 36969, 'a_1': 32400, 'b_43': 35668, 'a_23': 34095, 'a_5': 32671, 'b_47': 36706, 'a_72': 36799, 'a_56': 36402, 'b_19': 33637, 'b_68': 37746, 'a_37': 35276, 'b_52': 37006, 'b_32': 35052, 'b_23': 34255, 'b_71': 37886, 'a_69': 36740, 'a_63': 36570, 'a_32': 34998, 'a_34': 35091, 'a_11': 33028, 'b_35': 35236, 'a_16': 33285, 'b_39': 35486, 'b_14': 33226, 'b_11': 33136, 'a_7': 32768, 'b_59': 37312, 'a_22': 33935, 'a_58': 36469, 'b_60': 37396, 'b_33': 35152, 'a_14': 33191, 'a_35': 35132, 'b_37': 35388, 'b_30': 34956, 'a_27': 34583, 'a_47': 36066, 'b_63': 37476, 'a_41': 35490, 'b_65': 37606, 'b_21': 33861, 'a_31': 34912, 'a_17': 33327, 'a_48': 36133, 'a_4': 32650, 'b_27': 34694, 'a_39': 35380, 'a_10': 32980, 'a_61': 36531, 'a_9': 32916, 'a_28': 34662, 'b_18': 33460, 'a_73': 36817, 'a_43': 35585, 'a_49': 36163, 'a_19': 33527, 'b_64': 37531, 'a_38': 35325, 'a_62': 36549, 'a_20': 33718, 'b_44': 35692, 'b_15': 33294, 'a_67': 36668, 'a_51': 36226, 'a_44': 35610, 'a_59': 36493, 'b_17': 33396, 'b_4': 32735, 'a_52': 36262, 'b_6': 32832, 'a_54': 36340, 'b_5': 32771, 'b_7': 32892, 'a_3': 32597, 'b_50': 36922, 'a_53': 36303, 'a_6': 32715, 'a_13': 33148, 'b_49': 36869, 'a_64': 36604, 'a_57': 36447, 'a_46': 35820, 'a_25': 34387, 'b_38': 35420, 'b_40': 35572, 'b_45': 35739, 'a_15': 33228, 'a_65': 36635, 'b_53': 37038, 'b_73': 37940, 'a_66': 36647, 'a_8': 32831, 'b_67': 37675, 'a_50': 36191, 'b_28': 34758, 'b_3': 32641, 'b_46': 36553, 'b_70': 37825, 'b_9': 33070, 'b_48': 36845, 'a_12': 33087, 'a_29': 34795, 'b_16': 33355, 'b_62': 37450, 'b_57': 37200, 'b_54': 37076, 'b_20': 33860, 'a_70': 36749, 'a_40': 35448, 'a_60': 36518, 'b_42': 35614, 'b_55': 37108, 'a_71': 36779, 'b_29': 34907, 'b_36': 35287, 'a_42': 35529, 'a_33': 35051, 'a_45': 35659, 'b_72': 37917, 'b_22': 34004, 'b_61': 37421, 'b_25': 34524, 'a_21': 33732, 'b_69': 37817, 'b_12': 33166, 'b_26': 34664, 'b_24': 34282, 'b_56': 37137, 'b_13': 33203, 'b_41': 35597, 'a_36': 35202, 'a_2': 32571, 'b_10': 33110, 'a_30': 34880, 'b_1': 32460, 'a_26': 34512, 'b_31': 34975, 'a_24': 34158, 'a_68': 36697, 'b_34': 35203, 'b_8': 33002, 'b_58': 37259}
5009705 2017-06-10 ============================================================
{'a_55': 34316, 'b_2': 31639, 'a_18': 32220, 'b_66': 35016, 'b_51': 34472, 'a_1': 31500, 'b_43': 33782, 'a_23': 32532, 'a_5': 31756, 'b_47': 34147, 'a_72': 35008, 'a_56': 34342, 'b_19': 32215, 'b_68': 35116, 'a_37': 33360, 'b_52': 34517, 'b_32': 33267, 'b_23': 32538, 'b_71': 35239, 'a_69': 34905, 'a_63': 34600, 'a_32': 33120, 'a_34': 33180, 'a_11': 32007, 'b_35': 33351, 'a_16': 32160, 'b_39': 33579, 'b_14': 32044, 'b_11': 31979, 'a_7': 31832, 'b_59': 34743, 'a_22': 32474, 'a_58': 34419, 'b_60': 34777, 'b_33': 33320, 'a_14': 32103, 'a_35': 33240, 'b_37': 33490, 'b_30': 33162, 'a_27': 32807, 'a_47': 34059, 'b_63': 34915, 'a_41': 33480, 'b_65': 35007, 'b_21': 32334, 'a_31': 33033, 'a_17': 32182, 'a_48': 34115, 'a_4': 31734, 'b_27': 32877, 'a_39': 33420, 'a_10': 31980, 'a_61': 34530, 'a_9': 31920, 'a_28': 32858, 'b_18': 32170, 'a_73': 35040, 'a_43': 33600, 'a_49': 34140, 'a_19': 32290, 'b_64': 34951, 'a_38': 33388, 'a_62': 34562, 'a_20': 32393, 'b_44': 33838, 'b_15': 32073, 'a_67': 34776, 'a_51': 34194, 'a_44': 33660, 'a_59': 34462, 'b_17': 32142, 'b_4': 31723, 'a_52': 34224, 'b_6': 31773, 'a_54': 34290, 'b_5': 31733, 'b_7': 31796, 'a_3': 31680, 'b_50': 34394, 'a_53': 34259, 'a_6': 31800, 'a_13': 32077, 'b_49': 34374, 'a_64': 34661, 'a_57': 34380, 'a_46': 33854, 'a_25': 32640, 'b_38': 33537, 'b_40': 33632, 'b_45': 33881, 'a_15': 32126, 'a_65': 34717, 'b_53': 34563, 'b_73': 35281, 'a_66': 34738, 'a_8': 31869, 'b_67': 35053, 'a_50': 34164, 'b_28': 32969, 'b_3': 31689, 'b_46': 33996, 'b_70': 35185, 'b_9': 31871, 'b_48': 34288, 'a_12': 32040, 'a_29': 32945, 'b_16': 32116, 'b_62': 34893, 'b_57': 34653, 'b_54': 34583, 'b_20': 32333, 'a_70': 34920, 'a_40': 33457, 'a_60': 34507, 'b_42': 33713, 'b_55': 34604, 'a_71': 34973, 'b_29': 33096, 'b_36': 33429, 'a_42': 33540, 'a_33': 33154, 'a_45': 33720, 'b_72': 35263, 'b_22': 32445, 'b_61': 34854, 'b_25': 32707, 'a_21': 32400, 'b_69': 35175, 'b_12': 32012, 'b_26': 32802, 'b_24': 32569, 'b_56': 34623, 'b_13': 32030, 'b_41': 33673, 'a_36': 33300, 'a_2': 31620, 'b_10': 31933, 'a_30': 33000, 'b_1': 31567, 'a_26': 32760, 'b_31': 33208, 'a_24': 32555, 'a_68': 34829, 'b_34': 33335, 'b_8': 31818, 'b_58': 34692}

In [34]:
df.to_csv("39A_73stations_JUN.csv")

In [36]:
import csv
import pandas as pd
new_df = pd.read_csv("39A_73stations_JUN.csv")

In [32]:
#new_df['b_1']

0     28231
1     28172
2     34744
3     23524
4     31269
5     31172
6     43182
7     38434
8     34184
9     33090
10    26700
11    39488
12    28805
13    80488
14    30582
15    40477
16    32460
17    31567
Name: b_1, dtype: int64

In [37]:
# BP neural networking training
import numpy as np
#from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor
# X Descriptive features (6 continous features)
# y Target feature (happiness_class)
a_columns = []
b_columns = []
#columns = []
for i in range(1,74):
    #columns.append('a_{}'.format(i))
    #columns.append('b_{}'.format(i))
    a_columns.append('a_{}'.format(i))
    b_columns.append('b_{}'.format(i))

X = pd.concat([new_df[a_columns]], axis=1)

y = new_df[b_columns]
X = X.fillna(X.mean())
y = y.fillna(y.mean())

In [4]:
#y.dtypes

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [39]:
# 59% score
clf = MLPRegressor(solver='lbfgs', hidden_layer_sizes=(100, 100, 100), random_state=1)
#
#clf = MLPRegressor(hidden_layer_sizes=(6, 6, 6), max_iter=600)
#clf = MLPRegressor(hidden_layer_sizes=(5,5,5))
clf.fit(X_train,y_train)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100, 100, 100), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='lbfgs', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

In [40]:
print("Training set score: %f" % clf.score(X_test, y_test))
print("Training set loss: %f" % clf.loss_)

Training set score: 0.998296
Training set loss: 78136.715149

In [57]:
predictions = clf.predict(X_test)

In [54]:
print("Index| prediction |Actual result| error")

#for prediction in predictions:
 #   print(prediction)
station = 10
count = 0
for i in y_test.index:
    print(i, "\t", predictions[count][station],"\t", y_test.loc[i][station], "\t", predictions[count][station] - y_test.loc[i][station]) 
    count += 1

Index| prediction |Actual result| error
7 	 39033.2145270614 	 38957 	 76.21452706139826
2 	 35492.10253426417 	 35199 	 293.1025342641733
12 	 29498.58036500057 	 29492 	 6.580365000569145
6 	 43840.49651713784 	 43696 	 144.4965171378426
3 	 24550.277090440304 	 24501 	 49.277090440304164

In [58]:
print("Index| prediction |Actual result| error")

#for prediction in predictions:
 #   print(prediction)
station_1 = 10
station_2 = 25
count = 0
for i in y_test.index:
    oneRow = predictions[count]
    prediction = oneRow[station_2] - oneRow[station_1]
    actual = y_test.loc[i][station_2] - y_test.loc[i][station_1]
    print(i, "\t", prediction,"\t", actual, "\t", prediction - actual) 
    #print(predictions[count])
    #print(y_test.loc[i])
    count += 1

Index| prediction |Actual result| error
7 	 1576.7700636998925 	 1708 	 -131.2299363001075
2 	 1444.0872672276746 	 1898 	 -453.9127327723254
12 	 1461.5388939069162 	 1604 	 -142.4611060930838
6 	 1611.0082444340587 	 1885 	 -273.9917555659413
3 	 1399.624308086266 	 1312 	 87.62430808626596

In [20]:
new_y_test = y_test.reset_index(drop=True)

In [21]:
index_array = list(range(len(predictions)))
newPredictions = np.array(predictions).tolist()

In [22]:
#predictions
from pandas import Series, DataFrame
ser = Series(newPredictions, index=index_array)
#print(ser)

In [23]:
prediction_df = DataFrame(newPredictions, index=index_array, columns = ['Predicted_Arr', 'Predicted_Dep'])

In [24]:
plot_df = new_y_test.join(prediction_df)

In [25]:
plot_df.sort_values("ActualTime_Arr", inplace=True)
plot_df = plot_df.drop(['ActualTime_Dep', 'Predicted_Dep'], axis=1)

In [26]:
plot_df = plot_df.reset_index(drop=True)

In [27]:
plot_df.head()

   ActualTime_Arr  Predicted_Arr
0           19129   19316.893764
1           19159   19316.464773
2           19176   19355.840375
3           19193   19355.408980
4           19196   19316.670475

In [ ]:
# This chart will illustrate how well the predicted arr time are, comparing with the actual arr time.
# As we can see, the first period, the accuracy is very good. But as long as the prediction quantity increased,
# the accuracy became lower and unstabled.
import matplotlib.pyplot as plt
plt.figure()
plot_df[:1000].plot(figsize=(50, 10))
plt.show()

In [71]:
# Storage Trained model in a file
'''
import pickle
file = "39A_2017_06.clf"
output = open(file, 'wb')
pickle.dump(clf, output)
output.close()
'''

In [72]:
file = "39A_2017_06.clf"
pkl_file = open(file, 'rb')
new_clf = pickle.load(pkl_file)

In [74]:
def generalCrossValidationData(n_folds=10):
    '''
        This function is to separate DataFrame into k folds groups, each group include 90% train data and 10% test data,
        which is followed k-folds Cross-validation model.
        Input Value:
                - the number of folds, default is 10 folds
        Retrun Value:
                - ({k groups of train dataset}, {k group of test dataset})
    '''
    # Reading from a csv file, into a data frame
    # Drop 'customer' column because it is not continuous feature
    # Randomly shuffle the dataset
    # here you get 70% of the rows for train
    # this code tries to find that train = 70% and test = 30%
    df = pd.read_csv("39A_CLEANED_DATA.csv")
    #df = df.drop(['customer'], axis=1)
    new_df = pd.concat([df[['ProgrNumber',
                        'StopPointId',
                        'PlannedTime_Arr',
                        'PlannedTime_Dep',
                        'VehicleId',
                        'Direction',
                        'weekDays',
                        'dayInterval',
                        'ActualTime_Arr', 'ActualTime_Dep']]], axis=1)
    '''
    new_df = pd.concat([df[['dayInterval',
                           'preTripDuration',
                           'plannedPreTripDuration',
                           'plannedTripDuration',
                           'toNextDistance',
                            'tripDuration']]], axis=1)
'''
    #X = X.fillna(X.mean())
    #y = y.fillna(y.mean())

    # we use k-folds cross validation model and we separate the data into 10 groups of train & test datasets
    # we use KFold method to separate the dataset based 10-folds Cross-validation rule
    from sklearn.cross_validation import KFold
    kf = KFold(len(new_df), n_folds=n_folds)
    train_index = {}
    test_index = {}
    count = 0
    for indexA, indexB in kf:
        train_index[count] = indexA
        test_index[count] = indexB
        count += 1

    trains = {}
    tests = {}
    for i in range(10):
        trains[i] = new_df.loc[train_index[i]]
        tests[i] = new_df.loc[test_index[i]]
    return (trains, tests)

In [75]:
trains, tests = generalCrossValidationData(10)

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [79]:
trains[0].head()

,ProgrNumber,StopPointId,PlannedTime_Arr,PlannedTime_Dep,VehicleId,Direction,weekDays,dayInterval,ActualTime_Arr,ActualTime_Dep
13519,62,755,52460,52460,1000928,2,2,14.572222,52489,52489
13520,47,1478,51260,51260,1000928,2,2,14.238889,51124,51143
13521,63,756,52522,52522,1000928,2,2,14.589444,52550,52550
13522,31,1697,50318,50318,1000928,2,2,13.977222,50216,50216
13523,64,757,52578,52578,1000928,2,2,14.605000,52589,52589

In [80]:
# BP neural networking training
import numpy as np
#from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor
# X Descriptive features (4 features)
# y Target feature (TripDuration)
scores = 0
for i in range(10):
    train = trains[i]
    test = tests[i]
    train_X = pd.concat([train[['ProgrNumber',
                        'StopPointId',
                        'PlannedTime_Arr',
                        'PlannedTime_Dep',
                        'VehicleId',
                        'Direction',
                        'weekDays',
                        'dayInterval']]], axis=1)

    train_y = train[['ActualTime_Arr', 'ActualTime_Dep']]
    train_X = train_X.fillna(train_X.mean())
    train_y = train_y.fillna(train_y.mean())
    
    test_X = pd.concat([test[['ProgrNumber',
                        'StopPointId',
                        'PlannedTime_Arr',
                        'PlannedTime_Dep',
                        'VehicleId',
                        'Direction',
                        'weekDays',
                        'dayInterval']]], axis=1)

    test_y = test[['ActualTime_Arr', 'ActualTime_Dep']]
    test_X = test_X.fillna(test_X.mean())
    test_y = test_y.fillna(test_y.mean())
    
    # Instantiate model
    # 59% score
    clf = MLPRegressor(solver='lbfgs', hidden_layer_sizes=(10, 10, 10), random_state=1)
    #
    #clf = MLPRegressor(hidden_layer_sizes=(6, 6, 6), max_iter=600)
    #clf = MLPRegressor(hidden_layer_sizes=(5,5,5))
    clf.fit(train_X,train_y)
    #lm2 = LinearRegression()

    # Fit Model
    clf.fit(train_X, train_y)
    score = clf.score(test_X, test_y)
    scores += score
    print("test {} Score: {}".format(i+1,score))
print("Average of Score is: ", scores/10)

test 1 Score: 0.9991750637050221
test 2 Score: 0.9988723338805211
test 3 Score: 0.999371388375341
test 4 Score: 0.9991317290209234
test 5 Score: 0.9993663112641584
test 6 Score: 0.9993322135271554
test 7 Score: 0.9994167821206398
test 8 Score: 0.99942350957371
test 9 Score: 0.9992194439028376
test 10 Score: 0.9991433455373662
Average of Score is:  0.9992452120907673