In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from numpy.random import randn
import numpy as np

In [2]:
sample_df = pd.read_csv("MAY_RES.csv")

,Unnamed: 0,TripId,DayOfService,ProgrNumber,StopPointId,PlannedTime_Arr,PlannedTime_Dep,ActualTime_Arr,ActualTime_Dep,VehicleId,LineId,RouteId,Direction
0,0,5013461,2017-05-29,32,357,40811,40811,40693,40693,1001130,1,1_37,1
1,1,5013461,2017-05-29,33,390,40859,40859,40722,40732,1001130,1,1_37,1
2,2,5013461,2017-05-29,34,372,40904,40904,40776,40776,1001130,1,1_37,1
3,3,5013461,2017-05-29,35,373,40941,40941,40799,40799,1001130,1,1_37,1
4,4,5013461,2017-05-29,36,374,40974,40974,40822,40849,1001130,1,1_37,1